* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .card {
    width: 90%;
  }
  .text-container {
    width: 100%;
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 25%;
  }
  .card-img img {
    width: 90%;
  }
}

body {
  background-color: rgb(125 211 252);
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.card {
  background-color: white;
  padding-top: 1.5rem;
  border-radius: 2.5%;
}

.card-img img {
  border-radius: 2.5%;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
  padding: 1.5rem;
  margin: 0 auto;
  text-align: left;
}

.text-container h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-container p {
  color: gray;
  text-align: left;

  line-height: 1.3rem;
}
